<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592466859851-baqt8u58g8tengm564hjvlgjos2qpbg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592466859851-baqt8u58g8tengm564hjvlgjos2qpbg2</string>
	<key>API_KEY</key>
	<string>AIzaSyCRAtMauV0LHik5lA2ileM1iQ-debO5WcI</string>
	<key>GCM_SENDER_ID</key>
	<string>592466859851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.steveit.Stock-Management</string>
	<key>PROJECT_ID</key>
	<string>stockmanagement-92525</string>
	<key>STORAGE_BUCKET</key>
	<string>stockmanagement-92525.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592466859851:ios:f0a8d552ff61d24d81face</string>
	<key>DATABASE_URL</key>
	<string>https://stockmanagement-92525.firebaseio.com</string>
</dict>
</plist>